td {  font-size: 12px; line-height: 120%}
.border {  border: 1px #A9A6A6 solid}
.white10 {  font-family: "宋体"; font-size: 14px; line-height: 22px; color: #ffffff}
.white10 a:link {  font-family: "宋体"; font-size: 14px; line-height: 22px; text-decoration: none; color: #ffffff}
.white10 a:active {  font-family: "宋体"; font-size: 14px; line-height: 22px; text-decoration: none; color: #ffffff}
.white10 a:hover {  font-family: "宋体"; font-size: 14px; line-height: 22px; text-decoration: blink; color: #EBEBEB}
.white10 a:visited {  font-family: "宋体"; font-size: 14px; line-height: 22px; text-decoration: none; color: #ffffff}

.white9 {  font-family: "宋体"; font-size: 12px; line-height: 20px; color: #EBEBEB}
.white9 a:link {  font-family: "宋体"; font-size: 12px; line-height: 20px; text-decoration: none; color: #EBEBEB}
.white9 a:active {  font-family: "宋体"; font-size: 12px; line-height: 20px; text-decoration: none; color: #EBEBEB}
.white9 a:hover {  font-family: "宋体"; font-size: 12px; line-height: 20px; text-decoration: underline; color: #EBEBEB}
.white9 a:visited {  font-family: "宋体"; font-size: 12px; line-height: 20px; text-decoration: none; color: #EBEBEB}
.font15 { font-family: "黑体"; font-size:15pt; line-height: 150%; text-decoration: none; font-style: normal: none; font-weight:500}
.grey9 {  font-family: "宋体"; font-size: 12px; line-height: 20px; color: #666666}
.grey9 a:link {  font-family: "宋体"; font-size: 12px; line-height: 20px; text-decoration: none; color: #666666}
.grey9 a:active {  font-family: "宋体"; font-size: 12px; line-height: 20px; text-decoration: none; color: #666666}
.grey9 a:hover {  font-family: "宋体"; font-size: 12px; line-height: 20px; text-decoration: blink; color: #666666}
.grey9 a:visited {  font-family: "宋体"; font-size: 12px; line-height: 20px; text-decoration: none; color: #666666}

.font10 {  font-family: "宋体"; font-size: 14px; line-height: 22px; color: #000000}
.font10 a:link {  font-family: "宋体"; font-size: 14px; line-height: 22px; text-decoration: none; color: #000000}
.font10 a:active {  font-family: "宋体"; font-size: 14px; line-height: 22px; text-decoration: none; color: #000000}
.font10 a:hover {  font-family: "宋体"; font-size: 14px; line-height: 22px; text-decoration: blink; color: #000000}
.font10 a:visited {  font-family: "宋体"; font-size: 14px; line-height: 22px; text-decoration: none; color: #000000}

.red10 {  font-family: "宋体"; font-size: 14px; line-height: 22px; color: #FF0000}
.red10 a:link {  font-family: "宋体"; font-size: 14px; line-height: 22px; text-decoration: none; color: #FF0000}
.red10 a:active {  font-family: "宋体"; font-size: 14px; line-height: 22px; text-decoration: none; color: #FF0000}
.red10 a:hover {  font-family: "宋体"; font-size: 14px; line-height: 22px; text-decoration: blink; color: #FF0000}
.red10 a:visited {  font-family: "宋体"; font-size: 14px; line-height: 22px; text-decoration: none; color: #FF0000}

.font9 {  font-family: "宋体"; font-size: 12px; line-height: 20px; color: #000000}
.font9 a:link {  font-family: "宋体"; font-size: 12px; line-height: 20px; text-decoration: none; color: #000000}
.font9 a:active {  font-family: "宋体"; font-size: 12px; line-height: 20px; text-decoration: underline; color: #000000}
.font9 a:hover {  font-family: "宋体"; font-size: 12px; line-height: 20px; text-decoration: underline; color: #000000}
.font9 a:visited {  font-family: "宋体"; font-size: 12px; line-height: 20px; text-decoration: none; color: #000000}
.t {font-size:15px;margin:0px;font-family:宋体}
.t a:link{font-size:15px;color: #FF0000;text-decoration:none;font-family:宋体}
.t a:visited {font-size:15px;color: #FF0000;text-decoration:none;font-family:宋体}
.t a:hover{font-size:15px;color:#CC6633;text-decoration:underline;font-family:宋体}
A IMG {border:0}
.img1{border:1px solid #000000}
.img2{border:1px solid #0000FF}
.font11 { font-family: "宋体"; font-size: 11pt; line-height: 140%;color: #FF0000} 
.ah { font-size: 14.8px;line-height: 160%;color: #000099;font-family: "宋体"}
.xs{border:1px #999999 dashed}
.sx{border:1px #CCCCCC solid}
.rq {  font-family: "宋体"; font-size: 12px; line-height: 120%; color: #000099}
.font10w { font-family: "宋体"; font-size: 12.5pt; line-height: 16pt}
 .font10w a:link { color: #FFFFFF; font-family: "宋体"; font-size: 12.5pt; text-decoration: none; line-height: 16pt} 
 .font10w a:active { color: #FFFFFF; font-family: "宋体"; font-size: 12.5pt; text-decoration: underline; line-height: 16pt} 
 .font10w a:visited { color: #FFFFFF; font-family: "宋体"; font-size: 12.5pt; text-decoration: none; line-height: 16pt} 
 .font10w a:hover {color: #FFFFFF; text-decoration: none; font-family: "宋体"; font-size: 12.5pt; line-height: 16pt}
.y9 {  font-family: "宋体"; font-size: 12px; line-height: 20px; color: #FF9966}
.f8 {  font-family: "宋体"; font-size: 11.5px; line-height: 20px; color: #000000}
.f8 a:link {  font-family: "宋体"; font-size: 11.5px; line-height: 20px; text-decoration: none; color: #000000}
.f8 a:active {  font-family: "宋体"; font-size: 11.5px; line-height: 20px; text-decoration: none; color: #000000}
.f8 a:hover {  font-family: "宋体"; font-size: 11.5px; line-height: 20px; text-decoration: blink; color: #000000}
.f8 a:visited {  font-family: "宋体"; font-size: 11.5px; line-height: 20px; text-decoration: none; color: #000000}
form, input, select {margin:0px; padding:0px;}
 
 